@import '_reset';

body {
	background-color: #f5f5f5;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 1.25em;
	color: #6b6b77;
}
.logo{
	margin-top: .2em;
	margin-left: .2em;
}
.nav-title {
	font-family: Helvetica;
	font-size: 1.8em;
	font-weight: 200;
	color: #f5f5f5;
	text-decoration: none;
	margin-left: .3em;
	display: inline-block;
}
.nav-link{
	color: #f5f5f5 !important;
}
.nav-link:hover{
	font-weight: bolder;
}
.navbar{
	/*background-color: rgb(240, 232, 223) !important;*/ 
	background-color: #4F4849 !important;
}
.carousel {
	margin: 1.25em;
}
.section-one{
	background-color: #f5f5f5;
	
	.principal-title {
	color: #484850;
    font-size: 1.8em;
	word-spacing: .2em;
	letter-spacing: .1em;
    text-align: center;
	display: block;
	padding: .25em;
    margin-bottom: .5em;
	}
	.principal-content {
		color: #6b6b77;
		font-family: 'Josefin Sans';
		font-weight: 300;
		text-align: justify;
		margin: .5em 2em 2em 2em;
		display: flex;
	}
}
/* Para el resto de las paginas*/
.principal-title {
	color: #484850;
    font-size: 1.8em;
	word-spacing: .2em;
	letter-spacing: .1em;
    text-align: center;
	display: block;
	padding: .25em;
    margin-bottom: .5em;
}
.principal-content {
		color: #6b6b77;
		font-family: 'Josefin Sans';
		font-weight: 300;
		text-align: justify;
		margin: .5em 2em 1.5em 2em;
		display: flex;
}

.section-two{

	background-color: #d0cbcd;

	.second-title {
		color: #6b6b77;
		font-size: 1.5em;
		font-weight: 200;
		text-align: center !important;
		letter-spacing: .2em;
		padding-top: .5em;
	}
	.second-content {
		font-family: 'Josefin Sans';
		font-weight: 300;
		text-align: center;
		color: #6b6b77;
		margin: .5em 3em 1em 3em;
	}
}

.container-fluid{
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;

	.grid-img{
		text-align: center;
		margin-bottom: 1em;

		.grid-img_shape{
		width: 250px;
		height: 250px;
		border-radius: 120%; 
		text-align: center;
		margin-bottom: .25em;
		}
		.grid-img_link{
		text-decoration: none;
		color: #6b6b77;
		font-size: 1em;
		text-align: center;
		letter-spacing: .25em;
		margin: .25em;
		padding: .6em;
		}
	}

}
.bottom-content{
	background-color: #f5f5f5;

	.bottom-content_text {
		font-family: 'Josefin Sans';
		font-weight: 200;
		padding: .5em;
		margin: 1em;
	}
	.bottom-content_img {
		margin: .8em;
		background-repeat: no-repeat;
		background-size: contain;

		.bottom-content__img{
			max-width: 100%;
  			height: auto;
		}
	}
}

footer .footer-piedepagina {
	font-family: 'Josefin Sans';

	text-align: center;
	padding-top: .5em;
	/*background-color: #4F4849;*/
	color: #696364;
	/*color: #f5f5f5;*/
	
	h3{
		font-size: 1em;
		font-weight: 600;
		margin-top: .25em;
		margin-bottom: 0;
	}
	p{
		font-weight: 300;
		font-size: 1em;
		margin-bottom: 0;
	}


	.icon{
		/*width: 1.2em;
		height: 1.2em;*/
		font-size: 1.25em;
		color: #484850;

		&:hover{
			color: #2a2a30;
		}
	}
	
}

.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; 
margin: 2em 2em 1em 2em;
}
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; 
}
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); 
}
.about-profile-max{
	background-color: #d0cbcd;
	padding: .5em;
}

.about-content_perfil {
	display:flex;
	justify-content: center;
	width: 100%;
	height: auto;
	margin: .25em;

	.about-content_img {
		width: 300px;
		height: 300px;
		border-radius: 120%;
		border: .25em solid #d0cbcd;
	}
}
.about-content_parrafo {
		text-align: center;
		margin: 1em;
	}
.about-content_bottom_img{
	width: 100%;
	height: auto;

	.about-content_bottom__img {
	display: block;
	padding: 1.25em;
	margin: auto;
	margin-top: 30px;
	max-width: 100%;
	}
}
.about-content_bottom__text{
	text-align: center;
	padding: 1em;
	margin: 1em 2.25em;
}
/*tabla;*/
.tablaTitle {
	color: #a67e85;
	background-color: rgb(214, 200, 184);
	text-align: center;
}
.tablaSchedule {
	background-color: rgb(214, 200, 184);
	margin: auto;
	padding: 15px;
}
.bottom-content_schedule {
		padding: .5em;
		margin: 1em;
		text-align: center;
}
/*training;*/
.centralimg{
	width:100%;
	height: auto;
}
.imgmiddle{
	padding: 2em;
}
.pricing-box{
	background-color: #f5f5f5;
	padding: 1em;
}
.signup-img{
	padding-top: 1em;
	padding-bottom: 1em;
}
.phrase-bottom {
	color: #484850;
	font-size: 2em;
	font-weight: bolder;
	word-spacing: .2em;
	letter-spacing: .3em;
	text-align: center;
	display: block;
	padding: 1.5em;
}
.form-box {
	display: flex;
	flex-direction: column;
	align-items: left;
	color: #6b6b77;

		.form-box__form{
			padding: 1em;

			.form-box__form--inputbox{
				border: 0;
				
				background-color: transparent;
				border-bottom: .1em solid #6b6b77;
			}

		}
		.form-box__newsletter{
			font-size: 1.25em;
			margin-left: .8em;
		}

		.form-box__textarea{
			padding: .25em 1em;
		}

		.form-box__buttom {
			margin-left: .8em;

			.form-box__buttom--buttom{
			background-color: #484850;
			color: #f5f5f5;
			padding: 0 .5em;
			margin: .2em;
			border-radius: .5em;
			}
			.form-box__buttom--clean{
				background-color: #9595a3;
				color: #f5f5f5;
				padding: 0 .5em;
				margin: .2em;
				border-radius: .5em;
			}

		}
}
@media (max-width: 375px){
	
}

@media (max-width: 450px) {
	.gallery {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-width: 100%;
	-moz-column-width: 100%;
	column-width: 100%;
	}

	.show1{
		display: none;
	}
	.show3{
		display: none;
	}
	.show4{
		display: none;
	}
	.show5{
		display: none;
	}
	.show6{
		display: none;
	}
}

@media only screen and (min-width: 768px){
	
	.principal-title{
		font-weight: bold;
	}
	.botom-content__img{
	align-items: center;
	}

	.bottom-content { 
		padding-top: .1em;
		.bottom-content_text{
			text-align: center;
		}
		.bottom-content_img .bottom-content__img{
			margin-left: auto;
  			margin-right: auto;
 			 display: block;
		}
	}
	.form-box{
		align-items: center;
	}
}

@media only screen and (min-width: 992px){

	.second-title{
		padding-top: .25em;
		margin-top: .5em;
	}
	.bottom-content { 
		padding-top: .25em;

		.bottom-content_text{
			font-size: 1.25em;
		}
		.bottom-content_img .bottom-content__img{
			margin-left: auto;
  			margin-right: auto;
 			 display: block;
		}
	}
	.section-one{
		padding: 1.25em;
	}
	.bottom-content .bottom-content_text{
		text-align: center;
	}
	.bottom-content .bottom-content_img{

		align-items: center;
	}
	.about-content .principal-content{
		text-align: center;
	}
	.about-content_perfil{
		display: flex;
		float: left;
		width: 50%;
		height: auto;
		shape-outside: circle(40%);
		margin-top: .5em;
	}
	a .grid-img_link{
		text-align: center;
	}

}

@media only screen and (min-width: 1024px){

	.about-profile-max{
		
		background-color: #f5f5f5;
		padding: .5em;

		.about-content_perfil .about-content_img{
			border: .6em solid #f5f5f5;
		}
	}
	
}